# Default ignored files
/../../Module 1 Assigement./.idea/shelf/
/../../Module 1 Assigement./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Module 1 Assigement./.idea/httpRequests/
# Datasource local storage ignored files
/../../Module 1 Assigement./.idea/dataSources/
/../../Module 1 Assigement./.idea/dataSources.local.xml
