# Default ignored files
/../../Data Structures And Java Collection./.idea/shelf/
/../../Data Structures And Java Collection./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Data Structures And Java Collection./.idea/httpRequests/
# Datasource local storage ignored files
/../../Data Structures And Java Collection./.idea/dataSources/
/../../Data Structures And Java Collection./.idea/dataSources.local.xml
